// DEFAULT PARAMETERS
nextflow.preview.output = true

params {
    
    input                                 = null
    output                                = null
    reference                             = "/projects/data/GCA_000001405.15_GRCh38_no_alt_analysis_set.mmi"
    bed                                   = null
    
    snplist                               = null
    familysizethreshold                   = 5
    method                                = "adjacency"
    //READ FILTERING
    save_untrimmed                        = false
    debug                                 = false

    minlength                             = 800
    maxlength                             = 1200

    // CALL CONSENSUS
    keep_nonconsensus                     = false

    // ADVANCED    
    minimap2_param                        = "-ax map-ont -k 13 --MD"
    threads                               = 5
}

profiles {
    local {
        docker.enabled = false
    }
    standard {
        process.container = 'm113track/minihap'
        docker.enabled = true
        
    }
}

cleanup = !params.debug


manifest {
    name            = 'jsialar/UMIconsensus'
    author          = 'Jaren Sia'
    homePage        = 'https://github.com/jsialar/UMIconsensus'
    description     = 'Generate consensus from UMI'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v0.9.0'
}